body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
}

h1 {
    margin-bottom: 30px;
    color: #333333;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333333;
}

#grade {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #333333;
}